version: '3.3'
services:
    pgadmin:
        container_name: pgadmin
        image: dpage/pgadmin4
        networks:
            - ic_network
        environment:
            - 'PGADMIN_DEFAULT_EMAIL={{ PGADMIN_EMAIL }}'
            - 'PGADMIN_DEFAULT_PASSWORD={{ PGADMIN_PASS }}'
        ports:
            - "{{ PGADMIN_PORT }}:80"
        volumes:
            - /home/{{ ansible_user }}/servers.json:/pgadmin4/servers.json
            - 'pgadmin_data:/var/lib/pgadmin'
    postgres:
        environment:
            - POSTGRES_USER={{ DB_USER }}
            - POSTGRES_PASSWORD={{ DB_PASS }}
            - POSTGRES_DB={{ DB_NAME }}
        networks:
            - ic_network
        volumes:
            - 'pgdata:/var/lib/postgresql/data'
        container_name: postgres
        image: 'postgres:10'
        ports:
            - '{{ POSTGRES_PORT }}:5432'
    odoo:
        depends_on:
            - postgres
        ports:
            - '{{ ODOO_PORT }}:8069'
        container_name: odoo
        networks:
            - ic_network
        volumes:
            - 'odoo-web-data:/var/lib/odoo'
        environment:
            - USER={{ DB_USER }}
            - PASSWORD={{ DB_PASS }}
            - HOST={{ DB_NAME }}
        image: odoo:13.0

    ic-webapp:
        container_name: ic-webapp
        ports:
            - "{{ IC_PORT }}:8080"
        environment:
            - "ODOO_URL=http://{{ HOST_IP }}:{{ ODOO_PORT }}/"
            - "PGADMIN_URL=http://{{ HOST_IP }}:{{ PGADMIN_PORT }}/"
        image: '{{ IC_IMAGE_NAME }}'
        networks:
            - ic_network

volumes:
    odoo-web-data:
    pgdata:
    pgadmin_data:
networks:
    ic_network:
      driver: bridge